<link href="../../style/accounts.css" rel="stylesheet" />

<div class="jumbotron">

    <form class="form-horizontal">
        <fieldset>
            <div class="text-center" style="margin-bottom:3em;">
                <h3>
                    Hotel Manager Register
                </h3>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Username</label>
                <div class="col-md-5">
                    <input id="usernameinput" name="usernameinput" placeholder="Enter username..." class="form-control input-md" required="" type="text" ng-model="registration.UserName">
                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Password</label>
                <div class="col-md-5">
                    <input id="passwordinput" name="passwordinput" placeholder="Enter password..." class="form-control input-md" required="" type="password" ng-model="registration.Password">

                </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Confirm Password</label>
                <div class="col-md-5">
                    <input id="passwordinput" name="passwordinput" placeholder="Enter password..." class="form-control input-md" required="" type="password" ng-model="registration.ConfirmPassword">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Hotel Name</label>
                <div class="col-md-5">
                    <input id="hotelinput" name="hotelinput" placeholder="Enter name of hotel..." class="form-control input-md" type="text" ng-model="registration.HotelName">

                </div>
            </div>

        </fieldset>
    </form>

    <div class="text-center" style="margin-top:1em;">
        <button class="btn btn-success btn-lg" ng-click="register()">Register</button>
    </div>

</div>