body {
    background-image: url('../img/photo-1444201983204-c43cbd584d93.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
