<link href="../../style/home.css" rel="stylesheet" />

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbrand" class="h1">
            Hotel Manager Elite
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="navbartext"><a href="#/home/">Home</a></li>
                <li class="navbartext"><a href="#/home/">Rooms</a></li>
                <li class="navbartext"><a href="#/home/">Reservations</a></li>
                <li class="navbartext"><a href="#/home/">Customers</a></li>
                <li class="navbartext"><a href="#/home/">Workorders</a></li>
            </ul>

        </div>
    </div>
</div>

<div ui-view></div>